In [1]:
import pandas as pd
import itertools
from prophet import Prophet
import logging
import cmdstanpy
import pickle
from prophet.diagnostics import cross_validation
from prophet.diagnostics import performance_metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data_4 = pd.read_csv('data_for_model.csv')
data_4['date'] = pd.to_datetime(data_4['date'])

In [3]:
cities_list = list(data_4['city'].drop_duplicates())
len(cities_list)

109

In [4]:
russian_cities = list(data_4[data_4['country']=='Russia']['city'].drop_duplicates())
russian_cities.remove('Moscow')
russian_cities.remove('Saint Petersburg')
len(russian_cities)

9

In [5]:
cities_list = [x for x in cities_list if x not in russian_cities]
#cities_list = list(set(cities_list) - set(russian_cities))
len(cities_list)

100

In [6]:
logger = logging.getLogger('cmdstanpy')
logger.setLevel(logging.WARNING)
#logger.setLevel(logging.INFO)

In [7]:
data_4[data_4['Price per Square Meter to Buy Apartment Outside of Centre']>20000][['city','date','Price per Square Meter to Buy Apartment in City Centre','Price per Square Meter to Buy Apartment Outside of Centre']]

,city,date,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre
672,Brno,2010-03-31,52872.752908,39654.564681
673,Brno,2010-06-30,52872.752908,39654.564681
674,Brno,2010-09-30,52872.752908,39654.564681
675,Brno,2010-12-31,52872.752908,39654.564681
676,Brno,2011-03-31,52872.752908,39654.564681
677,Brno,2011-06-30,52872.752908,39654.564681
678,Brno,2011-09-30,52872.752908,39654.564681
679,Brno,2011-12-31,52872.752908,39654.564681
3256,Moscow,2012-03-31,166043.569355,89295.996710
3257,Moscow,2012-06-30,166043.569355,89295.996710
3258,Moscow,2012-09-30,166043.569355,89295.996710
3259,Moscow,2012-12-31,166043.569355,89295.996710
4148,Prague,2011-03-31,78721.654330,52220.002872
4149,Prague,2011-06-30,78721.654330,52220.002872
4150,Prague,2011-09-30,78721.654330,52220.002872
4151,Prague,2011-12-31,78721.654330,52220.002872
4600,Saint Petersburg,2012-03-31,81830.956951,53240.106023
4601,Saint Petersburg,2012-06-30,81830.956951,53240.106023
4602,Saint Petersburg,2012-09-30,81830.956951,53240.106023
4603,Saint Petersburg,2012-12-31,81830.956951,53240.106023

In [8]:
# Moscow and Saint Petersburg have abnormally high prices in 2012, Prague in 2011 and Brno in 2010 and 2011.
# Replacing with the average: 

for col in ['Price per Square Meter to Buy Apartment in City Centre','Price per Square Meter to Buy Apartment Outside of Centre']:
    for city in ['Moscow', 'Saint Petersburg']:
        average_2011_2013 = data_4[(data_4['city'] == city) & 
                                           ((data_4['date'].dt.year == 2011) | (data_4['date'].dt.year == 2013))][col]

        average_value = average_2011_2013.mean()

        data_4.loc[(data_4['city'] == city) & (data_4['date'].dt.year == 2012),
                           col] = average_value

    for city in ['Prague']:
        average_2010_2012 = data_4[(data_4['city'] == city) & 
                                           ((data_4['date'].dt.year == 2010) | (data_4['date'].dt.year == 2012))][col]

        average_value = average_2010_2012.mean()

        data_4.loc[(data_4['city'] == city) & (data_4['date'].dt.year == 2011),
                           col] = average_value
        
    for city in ['Brno']:
        average_2012 = data_4[(data_4['city'] == city) & (data_4['date'].dt.year == 2012)][col]

        average_value = average_2012.mean()

        data_4.loc[(data_4['city'] == city) & (data_4['date'].dt.year <= 2011),
                           col] = average_value

In [5]:
# Finding the models for each city with the best combination of feature variables

#cities_list = cities_list[0:5]
features_model_TOTAL = []
cities_TOTAL = []
num_feats = []
error_list = []
data_5 = data_4.copy()
total_predictions = pd.DataFrame()
target_var = 'Price per Square Meter to Buy Apartment in City Centre'
location = 'centre' # for pickle files

for city in cities_list:
    print('---',cities_list.index(city)+1,city)
    # City data
    data_city = data_5[data_5['city'] == city]
    data_city = data_city[(data_city['date']>='2011-01-01')]
    clean_target_var = target_var.replace(' ', '_').replace('(', '').replace(')', '')
    data_city = data_city.rename(columns={'date': 'ds'})
    
    # Target city data
    data_city_target = data_city[['ds',target_var]].reset_index(drop=True)
    data_city_target.columns = ['ds','y']
    
    # Features city data
    cols_to_remove = ['city','country','year','Price per Square Meter to Buy Apartment in City Centre',
                     'Price per Square Meter to Buy Apartment Outside of Centre']
    data_city_features = data_city.drop(columns=cols_to_remove)
    
    # (Re)Setting variables for city
    features_model = []
    var_min = 1
    current_min = 0.1

    # Finding best model for city
    while current_min <= var_min and current_min > 0:
        feature_colls = list(data_city_features.drop(columns=['ds']).columns)

        for feat in features_model:
            feature_colls.remove(feat)

        features_list_t = []
        abs_var_list_t = []
        
        # Finding best variables for the model
        for feature in feature_colls:
            feature_data_temp = data_city_features[['ds',feature] + features_model]
            target_data_temp = data_city_target[data_city_target['ds']<='2020-12-31']
            past_feature_data_temp = feature_data_temp[feature_data_temp['ds']<='2020-12-31']
            future_feature_data_temp = feature_data_temp[(feature_data_temp['ds']>'2020-12-31') & 
                                                         (feature_data_temp['ds']<'2023-01-01')]

            m_temp = Prophet()
            for feat in features_model:
                m_temp.add_regressor(feat)
            m_temp.add_regressor(feature)
            logger.setLevel(logging.WARNING)
            m_temp.fit(pd.merge(target_data_temp, past_feature_data_temp, on='ds'))


            future_temp = m_temp.make_future_dataframe(periods=8, freq='Q') # creating test date columns (2021 and 2022)
            future_temp = pd.merge(future_temp, feature_data_temp, on='ds')

            forecast_temp = m_temp.predict(future_temp)
            df_temp = pd.merge(forecast_temp[['ds','yhat']], data_city_target, on='ds').tail(8) # 2021 and 2022 (8 quarters)
            df_temp['abs_var'] = abs((df_temp['yhat']-df_temp['y'])/df_temp['y']) 
            var = df_temp['abs_var'].sum()/8

            features_list_t.append(feature)
            abs_var_list_t.append(var)

        # Creating dataframe with additional feature model's overall absolute variation
        df_dif = pd.DataFrame({'feature':features_list_t,'abs_var':abs_var_list_t})
        df_dif = df_dif.sort_values(by='abs_var')
        df_dif = df_dif.reset_index(drop=True)
        current_min = df_dif['abs_var'].min()
        min_feat = df_dif.loc[df_dif['abs_var'].idxmin(), 'feature'] # selecting best feature

        if df_dif['abs_var'].sum() == 0: # needed to stop loop for when best model has no features and abs vars are 0
            var_min = 0
            overall_min = 0
        else:
            pass
        
        if current_min < var_min:
            features_model.append(min_feat) # adding best feature to list of variables for city model
            features_model_TOTAL.append(min_feat) # adding best feature to list of variables for all cities models
            cities_TOTAL.append(city) # adding city to create dataframe for feats list
            df_dif_final = df_dif.copy()
            #print('current_min:', current_min,'var_min', var_min)
            #print(features_model)
            var_min = current_min
            overall_min = current_min
        else:
            var_min = 0
    
    error_list.append(overall_min)
    num_feats.append(len(features_model))
    print(len(features_model), 'features selected for', city, 'with error margin of', round(overall_min*100,2),'%',':'
          , features_model)

    # Final city model and preditions for 2023
    feature_data_final = data_city_features[['ds'] + features_model]
    target_data_final = data_city_target[data_city_target['ds']<='2020-12-31']
    past_feature_data_final = feature_data_final[feature_data_final['ds']<='2020-12-31']
    future_feature_data_final = feature_data_final[feature_data_final['ds']>'2020-12-31']

    m_final = Prophet()
    for feat in features_model:
        m_final.add_regressor(feat)

    m_final.fit(pd.merge(target_data_final, past_feature_data_final, on='ds'))

    future_final = m_final.make_future_dataframe(periods=12, freq='Q')
    future_final = pd.merge(future_final, feature_data_final, on='ds')

    # Getting predictions for 2023
    forecast_final = m_final.predict(future_final)
    df_final = pd.merge(forecast_final[['ds','yhat','yhat_lower','yhat_upper']], data_city_target, on='ds')
    df_final['city'] = city
    df_final = df_final.rename(columns={'ds': 'date'})
    
    # Adding predictions to an overall dataframe
    total_predictions = pd.concat([total_predictions,df_final])
    
    # Saving model in a pickle file
    model_filename = f'{location}_model_{city}.pkl'
    pickle.dump(m_final, open(model_filename, 'wb'))

# Saving overall dataframe
total_predictions.to_csv(f'{location}_total_predictions.csv', index=False)

# Location summary dataframe
location_summary = pd.DataFrame({'city':cities_list,'error_margin':error_list,'number_of_features':num_feats})
location_summary.to_csv(f'{location}_summary.csv', index=False)

# Features summary dataframe
features_summary = pd.DataFrame({'city':cities_TOTAL,'feature':features_model_TOTAL})
features_summary['feature'] = features_summary['feature'].str.replace('_1yr_before', '')
features_summary.to_csv(f'{location}_features_summary.csv', index=False)

--- 1 Aberdeen
2 features selected for Aberdeen with error margin of 0.06 % : ['Oranges (1kg)_1yr_before', 'Meal, Inexpensive Restaurant_1yr_before']
--- 2 Amsterdam
3 features selected for Amsterdam with error margin of 0.14 % : ['Domestic Beer (0.5 liter bottle)_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', 'mortgage_as_percentage_of_income_1yr_before']
--- 3 Athens
3 features selected for Athens with error margin of 0.16 % : ['Apartment (1 bedroom) Outside of Centre_1yr_before', 'time_index_1yr_before', 'Taxi 1hour Waiting (Normal Tariff)_1yr_before']
--- 4 Banja Luka
3 features selected for Banja Luka with error margin of 0.63 % : ['Taxi 1hour Waiting (Normal Tariff)_1yr_before', 'mortgage_as_percentage_of_income_1yr_before', 'pollution_index_1yr_before']
--- 5 Barcelona
3 features selected for Barcelona with error margin of 0.42 % : ['healthcare_index_1yr_before', 'Onion (1kg)_1yr_before', 'Water (0.33 liter bottle) _1yr_before']
--- 6 Belgrade
5 features selected for Belgrade with error margin of 0.35 % : ['Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate_1yr_before', 'healthcare_index_1yr_before', 'Tennis Court Rent (1 Hour on Weekend)_1yr_before', 'Water (0.33 liter bottle) _1yr_before', 'purchasing_power_incl_rent_index_1yr_before']
--- 7 Berlin
3 features selected for Berlin with error margin of 0.88 % : ['Banana (1kg)_1yr_before', 'Local Cheese (1kg)_1yr_before', 'Apartment (1 bedroom) Outside of Centre_1yr_before']
--- 8 Bialystok
0 features selected for Bialystok with error margin of 0 % : []
--- 9 Bologna
2 features selected for Bologna with error margin of 2.11 % : ['time_exp_index_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 10 Bolzano-Bozen
0 features selected for Bolzano-Bozen with error margin of 0 % : []
--- 11 Brasov
1 features selected for Brasov with error margin of 38.66 % : ['gross_rental_yield_city_centre_1yr_before']
--- 12 Bratislava
4 features selected for Bratislava with error margin of 0.57 % : ['Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)_1yr_before', 'pollution_index_1yr_before', 'Eggs (regular) (12)_1yr_before', 'exp_pollution_index_1yr_before']
--- 13 Brno
2 features selected for Brno with error margin of 9.36 % : ['Onion (1kg)_1yr_before', 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)_1yr_before']
--- 14 Brussels
4 features selected for Brussels with error margin of 0.27 % : ['Taxi 1km (Normal Tariff)_1yr_before', 'Eggs (regular) (12)_1yr_before', 'Onion (1kg)_1yr_before', 'Water (1.5 liter bottle)_1yr_before']
--- 15 Bucharest
2 features selected for Bucharest with error margin of 39.71 % : ['Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate_1yr_before', 'rent_index_1yr_before']
--- 16 Budapest
3 features selected for Budapest with error margin of 0.69 % : ['Apartment (3 bedrooms) Outside of Centre_1yr_before', 'time_exp_index_1yr_before', 'cpi_index_1yr_before']
--- 17 Catania
0 features selected for Catania with error margin of 0 % : []
--- 18 Chisinau
5 features selected for Chisinau with error margin of 0.47 % : ['Average Monthly Net Salary (After Tax)_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before', 'Loaf of Fresh White Bread (500g)_1yr_before', 'Taxi 1km (Normal Tariff)_1yr_before', 'house_price_to_income_ratio_1yr_before']
--- 19 Cluj-Napoca
3 features selected for Cluj-Napoca with error margin of 39.39 % : ['Rice (white), (1kg)_1yr_before', 'purchasing_power_incl_rent_index_1yr_before', 'affordability_index_1yr_before']
--- 20 Constanta
6 features selected for Constanta with error margin of 42.11 % : ['Gasoline (1 liter)_1yr_before', 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Eggs (regular) (12)_1yr_before', 'Water (0.33 liter bottle) _1yr_before', 'Apples (1kg)_1yr_before']
--- 21 Copenhagen
3 features selected for Copenhagen with error margin of 0.08 % : ['Average Monthly Net Salary (After Tax)_1yr_before', 'Apartment (3 bedrooms) in City Centre_1yr_before', 'Taxi Start (Normal Tariff)_1yr_before']
--- 22 Coventry
0 features selected for Coventry with error margin of 0 % : []
--- 23 Debrecen
2 features selected for Debrecen with error margin of 2.59 % : ['Cinema, International Release, 1 Seat_1yr_before', 'Lettuce (1 head)_1yr_before']
--- 24 Dnipro
4 features selected for Dnipro with error margin of 0.97 % : ['Apples (1kg)_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before', 'Tomato (1kg)_1yr_before']
--- 25 Dublin
3 features selected for Dublin with error margin of 0.05 % : ['Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment_1yr_before', 'One-way Ticket (Local Transport)_1yr_before', 'gross_rental_yield_city_centre_1yr_before']
--- 26 Eindhoven
4 features selected for Eindhoven with error margin of 0.45 % : ['healthcare_index_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', 'Meal for 2 People, Mid-range Restaurant, Three-course_1yr_before', 'groceries_index_1yr_before']
--- 27 Espoo
1 features selected for Espoo with error margin of 29.45 % : ['1 Pair of Jeans (Levis 501 Or Similar)_1yr_before']
--- 28 Florence
3 features selected for Florence with error margin of 0.79 % : ['Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment_1yr_before', 'Banana (1kg)_1yr_before', 'Cappuccino (regular)_1yr_before']
--- 29 Frankfurt
5 features selected for Frankfurt with error margin of 0.37 % : ['Beef Round (1kg) (or Equivalent Back Leg Red Meat)_1yr_before', 'Loaf of Fresh White Bread (500g)_1yr_before', 'gross_rental_yield_city_centre_1yr_before', 'Apartment (3 bedrooms) in City Centre_1yr_before', 'affordability_index_1yr_before']
--- 30 Gdansk
4 features selected for Gdansk with error margin of 0.75 % : ['Chicken Fillets (1kg)_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before', 'Cappuccino (regular)_1yr_before', 'price_to_rent_ratio_outside_of_centre_1yr_before']
--- 31 Gdynia
2 features selected for Gdynia with error margin of 3.82 % : ['Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)_1yr_before', 'inefficiency_index_1yr_before']
--- 32 Geneva
4 features selected for Geneva with error margin of 0.52 % : ['Banana (1kg)_1yr_before', 'Apartment (1 bedroom) in City Centre_1yr_before', 'Milk (regular), (1 liter)_1yr_before', 'Loaf of Fresh White Bread (500g)_1yr_before']
--- 33 Groningen
0 features selected for Groningen with error margin of 0 % : []
--- 34 Haarlem
2 features selected for Haarlem with error margin of 2.54 % : ['Potato (1kg)_1yr_before', 'Water (1.5 liter bottle)_1yr_before']
--- 35 Helsinki
7 features selected for Helsinki with error margin of 0.44 % : ['Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)_1yr_before', 'Taxi 1hour Waiting (Normal Tariff)_1yr_before', 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)_1yr_before', 'Domestic Beer (0.5 liter draught)_1yr_before', 'Onion (1kg)_1yr_before', 'mortgage_as_percentage_of_income_1yr_before', 'cpi_index_1yr_before']
--- 36 Iasi
2 features selected for Iasi with error margin of 38.43 % : ['Cinema, International Release, 1 Seat_1yr_before', '1 Pair of Men Leather Business Shoes_1yr_before']
--- 37 Izhevsk
5 features selected for Izhevsk with error margin of 3.61 % : ['safety_index_1yr_before', 'cpi_and_rent_index_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before', 'Tomato (1kg)_1yr_before', 'Onion (1kg)_1yr_before']
--- 38 Kaliningrad
6 features selected for Kaliningrad with error margin of 15.09 % : ['Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate_1yr_before', 'Tomato (1kg)_1yr_before', 'restaurant_price_index_1yr_before', 'rent_index_1yr_before', 'gross_rental_yield_outside_of_centre_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 39 Katowice
6 features selected for Katowice with error margin of 0.65 % : ['1 Pair of Men Leather Business Shoes_1yr_before', 'Imported Beer (0.33 liter bottle)_1yr_before', 'traffic_index_1yr_before', 'groceries_index_1yr_before', 'restaurant_price_index_1yr_before', 'climate_index_1yr_before']

--- 40 Kaunas
3 features selected for Kaunas with error margin of 0.14 % : ['Milk (regular), (1 liter)_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)_1yr_before']
--- 41 Kazan
7 features selected for Kazan with error margin of 1.04 % : ['Loaf of Fresh White Bread (500g)_1yr_before', 'Potato (1kg)_1yr_before', 'rent_index_1yr_before', 'exp_pollution_index_1yr_before', 'quality_of_life_index_1yr_before', 'traffic_time_index_1yr_before', 'time_index_1yr_before']
--- 42 Kharkiv
4 features selected for Kharkiv with error margin of 0.14 % : ['Apples (1kg)_1yr_before', 'Oranges (1kg)_1yr_before', 'climate_index_1yr_before', 'Eggs (regular) (12)_1yr_before']
--- 43 Kiev (Kyiv)
7 features selected for Kiev (Kyiv) with error margin of 0.19 % : ['Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)_1yr_before', 'Apartment (1 bedroom) in City Centre_1yr_before', 'International Primary School, Yearly for 1 Child_1yr_before', 'purchasing_power_incl_rent_index_1yr_before', 'Cinema, International Release, 1 Seat_1yr_before', 'Water (0.33 liter bottle) _1yr_before', 'traffic_index_1yr_before']
--- 44 Kosice
4 features selected for Kosice with error margin of 0.55 % : ['Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)_1yr_before', 'Domestic Beer (0.5 liter draught)_1yr_before', '1 Pair of Men Leather Business Shoes_1yr_before', 'Lettuce (1 head)_1yr_before']
--- 45 Krakow (Cracow)
8 features selected for Krakow (Cracow) with error margin of 0.76 % : ['1 Summer Dress in a Chain Store (Zara, H&M, ...)_1yr_before', 'Monthly Pass (Regular Price)_1yr_before', 'safety_index_1yr_before', 'co2_emission_index_1yr_before', 'quality_of_life_index_1yr_before', 'Banana (1kg)_1yr_before', 'cpi_index_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 46 Krasnodar
6 features selected for Krasnodar with error margin of 0.27 % : ['Cinema, International Release, 1 Seat_1yr_before', 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)_1yr_before', 'Apartment (1 bedroom) Outside of Centre_1yr_before', 'affordability_index_1yr_before', 'Lettuce (1 head)_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before']
--- 47 Lisbon
6 features selected for Lisbon with error margin of 0.26 % : ['McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child_1yr_before', 'Fitness Club, Monthly Fee for 1 Adult_1yr_before', 'mortgage_as_percentage_of_income_1yr_before', 'Banana (1kg)_1yr_before', '1 Pair of Nike Running Shoes (Mid-Range)_1yr_before']
--- 48 Liverpool
6 features selected for Liverpool with error margin of 0.54 % : ['Apartment (3 bedrooms) in City Centre_1yr_before', 'crime_index_1yr_before', 'quality_of_life_index_1yr_before', 'safety_index_1yr_before', 'co2_emission_index_1yr_before', 'time_exp_index_1yr_before']
--- 49 Ljubljana
4 features selected for Ljubljana with error margin of 0.17 % : ['rent_index_1yr_before', 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment_1yr_before', 'Apartment (1 bedroom) Outside of Centre_1yr_before', 'Onion (1kg)_1yr_before']
--- 50 Lodz
8 features selected for Lodz with error margin of 0.54 % : ['Apartment (1 bedroom) Outside of Centre_1yr_before', 'Milk (regular), (1 liter)_1yr_before', 'Imported Beer (0.33 liter bottle)_1yr_before', 'gross_rental_yield_city_centre_1yr_before', 'safety_index_1yr_before', '1 Pair of Nike Running Shoes (Mid-Range)_1yr_before', 'cpi_and_rent_index_1yr_before', 'crime_index_1yr_before']
--- 51 London
3 features selected for London with error margin of 2.31 % : ['inefficiency_index_1yr_before', 'Tomato (1kg)_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before']
--- 52 Luxembourg
6 features selected for Luxembourg with error margin of 0.58 % : ['Onion (1kg)_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate_1yr_before', 'Apartment (1 bedroom) Outside of Centre_1yr_before', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)_1yr_before', 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)_1yr_before']
--- 53 Lviv
3 features selected for Lviv with error margin of 1.07 % : ['Apples (1kg)_1yr_before', 'Bottle of Wine (Mid-Range)_1yr_before', 'traffic_index_1yr_before']
--- 54 Lyon
5 features selected for Lyon with error margin of 0.28 % : ['Imported Beer (0.33 liter bottle)_1yr_before', 'purchasing_power_incl_rent_index_1yr_before', 'Cappuccino (regular)_1yr_before', 'mortgage_as_percentage_of_income_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 55 Madrid
3 features selected for Madrid with error margin of 0.78 % : ['Eggs (regular) (12)_1yr_before', 'Lettuce (1 head)_1yr_before', 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child_1yr_before']
--- 56 Manchester
8 features selected for Manchester with error margin of 0.54 % : ['Local Cheese (1kg)_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Loaf of Fresh White Bread (500g)_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', 'mortgage_as_percentage_of_income_1yr_before', 'International Primary School, Yearly for 1 Child_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before', 'Apartment (1 bedroom) in City Centre_1yr_before']
--- 57 Milan
5 features selected for Milan with error margin of 0.26 % : ['Tennis Court Rent (1 Hour on Weekend)_1yr_before', 'Onion (1kg)_1yr_before', 'gross_rental_yield_city_centre_1yr_before', 'Eggs (regular) (12)_1yr_before', 'time_exp_index_1yr_before']
--- 58 Minsk
7 features selected for Minsk with error margin of 2.37 % : ['healthcare_index_1yr_before', 'inefficiency_index_1yr_before', 'exp_pollution_index_1yr_before', 'Fitness Club, Monthly Fee for 1 Adult_1yr_before', 'time_index_1yr_before', 'gross_rental_yield_city_centre_1yr_before', 'house_price_to_income_ratio_1yr_before']
--- 59 Moscow
0 features selected for Moscow with error margin of 2.37 % : []
--- 60 Munich
5 features selected for Munich with error margin of 0.39 % : ['International Primary School, Yearly for 1 Child_1yr_before', 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child_1yr_before', 'Local Cheese (1kg)_1yr_before', 'purchasing_power_incl_rent_index_1yr_before', 'Coke/Pepsi (0.33 liter bottle)_1yr_before']
--- 61 Nis
8 features selected for Nis with error margin of 2.63 % : ['1 Pair of Men Leather Business Shoes_1yr_before', 'rent_index_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before', 'restaurant_price_index_1yr_before', '1 Summer Dress in a Chain Store (Zara, H&M, ...)_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before', 'Taxi 1km (Normal Tariff)_1yr_before', 'Lettuce (1 head)_1yr_before']
--- 62 Nizhny Novgorod
5 features selected for Nizhny Novgorod with error margin of 0.75 % : ['healthcare_index_1yr_before', 'Rice (white), (1kg)_1yr_before', 'Imported Beer (0.33 liter bottle)_1yr_before', 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment_1yr_before', 'Taxi Start (Normal Tariff)_1yr_before']
--- 63 Novi Sad
9 features selected for Novi Sad with error margin of 0.36 % : ['Apartment (3 bedrooms) in City Centre_1yr_before', 'Cigarettes 20 Pack (Marlboro)_1yr_before', 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child_1yr_before', 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate_1yr_before', 'Tomato (1kg)_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before', 'inefficiency_index_1yr_before', 'pollution_index_1yr_before', 'cpi_index_1yr_before']
--- 64 Odessa (Odesa)
3 features selected for Odessa (Odesa) with error margin of 0.9 % : ['safety_index_1yr_before', 'Coke/Pepsi (0.33 liter bottle)_1yr_before', 'crime_index_1yr_before']
--- 65 Oradea
8 features selected for Oradea with error margin of 6.54 % : ['Coke/Pepsi (0.33 liter bottle)_1yr_before', 'Average Monthly Net Salary (After Tax)_1yr_before', 'restaurant_price_index_1yr_before', 'safety_index_1yr_before', 'purchasing_power_incl_rent_index_1yr_before', 'rent_index_1yr_before', 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)_1yr_before', 'Apples (1kg)_1yr_before']

--- 66 Oslo
7 features selected for Oslo with error margin of 0.2 % : ['safety_index_1yr_before', 'healthcare_index_1yr_before', 'Fitness Club, Monthly Fee for 1 Adult_1yr_before', 'Apartment (1 bedroom) Outside of Centre_1yr_before', 'crime_index_1yr_before', 'Domestic Beer (0.5 liter draught)_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 67 Ostrava
0 features selected for Ostrava with error margin of 0 % : []
--- 68 Paris
3 features selected for Paris with error margin of 0.35 % : ['Banana (1kg)_1yr_before', 'Taxi Start (Normal Tariff)_1yr_before', 'Oranges (1kg)_1yr_before']
--- 69 Perm
5 features selected for Perm with error margin of 1.01 % : ['Chicken Fillets (1kg)_1yr_before', 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment_1yr_before', 'Eggs (regular) (12)_1yr_before', 'Apartment (1 bedroom) in City Centre_1yr_before', 'Onion (1kg)_1yr_before']
--- 70 Plovdiv
4 features selected for Plovdiv with error margin of 0.72 % : ['Onion (1kg)_1yr_before', 'Local Cheese (1kg)_1yr_before', 'Rice (white), (1kg)_1yr_before', 'Loaf of Fresh White Bread (500g)_1yr_before']
--- 71 Plzen
1 features selected for Plzen with error margin of 18.29 % : ['1 Pair of Jeans (Levis 501 Or Similar)_1yr_before']
--- 72 Podgorica
3 features selected for Podgorica with error margin of 1.09 % : ['Water (0.33 liter bottle) _1yr_before', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)_1yr_before', 'restaurant_price_index_1yr_before']
--- 73 Porto
6 features selected for Porto with error margin of 0.39 % : ['Meal, Inexpensive Restaurant_1yr_before', 'gross_rental_yield_city_centre_1yr_before', 'cpi_index_1yr_before', 'exp_pollution_index_1yr_before', 'Chicken Fillets (1kg)_1yr_before', 'Eggs (regular) (12)_1yr_before']
--- 74 Poznan
7 features selected for Poznan with error margin of 1.09 % : ['Beef Round (1kg) (or Equivalent Back Leg Red Meat)_1yr_before', 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate_1yr_before', 'Water (1.5 liter bottle)_1yr_before', 'co2_emission_index_1yr_before', 'traffic_index_1yr_before', 'Eggs (regular) (12)_1yr_before', 'quality_of_life_index_1yr_before']
--- 75 Prague
2 features selected for Prague with error margin of 22.41 % : ['affordability_index_1yr_before', 'Rice (white), (1kg)_1yr_before']
--- 76 Pristina
4 features selected for Pristina with error margin of 6.63 % : ['Taxi 1hour Waiting (Normal Tariff)_1yr_before', 'Milk (regular), (1 liter)_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Local Cheese (1kg)_1yr_before']
--- 77 Reykjavik
7 features selected for Reykjavik with error margin of 0.96 % : ['house_price_to_income_ratio_1yr_before', 'Chicken Fillets (1kg)_1yr_before', 'climate_index_1yr_before', 'Rice (white), (1kg)_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', 'traffic_index_1yr_before', 'One-way Ticket (Local Transport)_1yr_before']
--- 78 Riga
5 features selected for Riga with error margin of 0.44 % : ['cpi_and_rent_index_1yr_before', 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)_1yr_before', 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)_1yr_before', 'Average Monthly Net Salary (After Tax)_1yr_before', 'purchasing_power_incl_rent_index_1yr_before']
--- 79 Rijeka
9 features selected for Rijeka with error margin of 1.38 % : ['Cigarettes 20 Pack (Marlboro)_1yr_before', 'Water (0.33 liter bottle) _1yr_before', 'Taxi 1km (Normal Tariff)_1yr_before', 'Rice (white), (1kg)_1yr_before', '1 Summer Dress in a Chain Store (Zara, H&M, ...)_1yr_before', 'Taxi Start (Normal Tariff)_1yr_before', 'safety_index_1yr_before', 'gross_rental_yield_outside_of_centre_1yr_before', 'mortgage_as_percentage_of_income_1yr_before']
--- 80 Rome
5 features selected for Rome with error margin of 0.29 % : ['Domestic Beer (0.5 liter draught)_1yr_before', 'house_price_to_income_ratio_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before', 'exp_pollution_index_1yr_before', 'Tomato (1kg)_1yr_before']
--- 81 Rostov-na-donu
4 features selected for Rostov-na-donu with error margin of 0.29 % : ['Domestic Beer (0.5 liter draught)_1yr_before', 'mortgage_as_percentage_of_income_1yr_before', 'climate_index_1yr_before', 'Lettuce (1 head)_1yr_before']
--- 82 Rotterdam
6 features selected for Rotterdam with error margin of 0.73 % : ['inefficiency_index_1yr_before', 'Taxi 1km (Normal Tariff)_1yr_before', 'groceries_index_1yr_before', 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)_1yr_before', 'gross_rental_yield_city_centre_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 83 Saint Petersburg
0 features selected for Saint Petersburg with error margin of 0.73 % : []
--- 84 Samara
5 features selected for Samara with error margin of 0.56 % : ['Imported Beer (0.33 liter bottle)_1yr_before', 'Domestic Beer (0.5 liter draught)_1yr_before', 'Apartment (1 bedroom) Outside of Centre_1yr_before', 'purchasing_power_incl_rent_index_1yr_before', 'restaurant_price_index_1yr_before']
--- 85 Sarajevo
5 features selected for Sarajevo with error margin of 1.03 % : ['affordability_index_1yr_before', 'gross_rental_yield_city_centre_1yr_before', 'time_exp_index_1yr_before', 'Monthly Pass (Regular Price)_1yr_before', 'traffic_time_index_1yr_before']
--- 86 Seville (Sevilla)
5 features selected for Seville (Sevilla) with error margin of 0.6 % : ['cpi_index_1yr_before', 'Domestic Beer (0.5 liter bottle)_1yr_before', 'Bottle of Wine (Mid-Range)_1yr_before', 'climate_index_1yr_before', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)_1yr_before']
--- 87 Skopje
6 features selected for Skopje with error margin of 1.16 % : ['Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Taxi 1km (Normal Tariff)_1yr_before', 'Domestic Beer (0.5 liter draught)_1yr_before', 'restaurant_price_index_1yr_before']
--- 88 Sofia
4 features selected for Sofia with error margin of 0.67 % : ['Meal, Inexpensive Restaurant_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before', 'Domestic Beer (0.5 liter bottle)_1yr_before', 'restaurant_price_index_1yr_before']
--- 89 Split
4 features selected for Split with error margin of 0.07 % : ['McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Apples (1kg)_1yr_before', '1 Pair of Men Leather Business Shoes_1yr_before', 'Rice (white), (1kg)_1yr_before']
--- 90 Stockholm
5 features selected for Stockholm with error margin of 0.19 % : ['Tennis Court Rent (1 Hour on Weekend)_1yr_before', 'International Primary School, Yearly for 1 Child_1yr_before', 'Tomato (1kg)_1yr_before', 'Local Cheese (1kg)_1yr_before', 'cpi_and_rent_index_1yr_before']
--- 91 Stuttgart
5 features selected for Stuttgart with error margin of 0.14 % : ['Imported Beer (0.33 liter bottle)_1yr_before', '1 Pair of Nike Running Shoes (Mid-Range)_1yr_before', 'Potato (1kg)_1yr_before', 'Cappuccino (regular)_1yr_before', 'cpi_and_rent_index_1yr_before']
--- 92 Szczecin
6 features selected for Szczecin with error margin of 4.86 % : ['Meal, Inexpensive Restaurant_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Apples (1kg)_1yr_before', 'Lettuce (1 head)_1yr_before', 'pollution_index_1yr_before', 'groceries_index_1yr_before']
--- 93 Tallinn
9 features selected for Tallinn with error margin of 0.86 % : ['Chicken Fillets (1kg)_1yr_before', 'Lettuce (1 head)_1yr_before', 'affordability_index_1yr_before', 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car)_1yr_before', 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car)_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Cappuccino (regular)_1yr_before', 'quality_of_life_index_1yr_before', 'safety_index_1yr_before']
--- 94 The Hague (Den Haag)
5 features selected for The Hague (Den Haag) with error margin of 0.75 % : ['quality_of_life_index_1yr_before', 'Tennis Court Rent (1 Hour on Weekend)_1yr_before', 'Monthly Pass (Regular Price)_1yr_before', 'Loaf of Fresh White Bread (500g)_1yr_before', 'traffic_time_index_1yr_before']
--- 95 Thessaloniki
5 features selected for Thessaloniki with error margin of 0.25 % : ['Apartment (3 bedrooms) in City Centre_1yr_before', 'crime_index_1yr_before', 'Apartment (3 bedrooms) Outside of Centre_1yr_before', 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment_1yr_before', 'safety_index_1yr_before']

--- 96 Timisoara
4 features selected for Timisoara with error margin of 38.52 % : ['Taxi 1hour Waiting (Normal Tariff)_1yr_before', 'purchasing_power_incl_rent_index_1yr_before', 'pollution_index_1yr_before', 'gross_rental_yield_outside_of_centre_1yr_before']
--- 97 Tirana
5 features selected for Tirana with error margin of 0.41 % : ['groceries_index_1yr_before', 'Chicken Fillets (1kg)_1yr_before', 'Apartment (1 bedroom) in City Centre_1yr_before', 'quality_of_life_index_1yr_before', 'Water (0.33 liter bottle) _1yr_before']
--- 98 Turin
4 features selected for Turin with error margin of 0.1 % : ['Taxi Start (Normal Tariff)_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before', 'healthcare_index_1yr_before', 'Average Monthly Net Salary (After Tax)_1yr_before']
--- 99 Tuzla
0 features selected for Tuzla with error margin of 0 % : []
--- 100 Utrecht
3 features selected for Utrecht with error margin of 3.1 % : ['Potato (1kg)_1yr_before', 'International Primary School, Yearly for 1 Child_1yr_before', 'Meal, Inexpensive Restaurant_1yr_before']
--- 101 Varna
4 features selected for Varna with error margin of 1.45 % : ['Taxi Start (Normal Tariff)_1yr_before', 'price_to_rent_ratio_outside_of_centre_1yr_before', 'Coke/Pepsi (0.33 liter bottle)_1yr_before', 'Cinema, International Release, 1 Seat_1yr_before']
--- 102 Vienna
5 features selected for Vienna with error margin of 0.63 % : ['Average Monthly Net Salary (After Tax)_1yr_before', 'restaurant_price_index_1yr_before', 'safety_index_1yr_before', 'Gasoline (1 liter)_1yr_before', 'Onion (1kg)_1yr_before']
--- 103 Villach
1 features selected for Villach with error margin of 4.59 % : ['affordability_index_1yr_before']
--- 104 Vilnius
5 features selected for Vilnius with error margin of 1.23 % : ['Coke/Pepsi (0.33 liter bottle)_1yr_before', 'International Primary School, Yearly for 1 Child_1yr_before', 'Tomato (1kg)_1yr_before', 'Beef Round (1kg) (or Equivalent Back Leg Red Meat)_1yr_before', '1 Summer Dress in a Chain Store (Zara, H&M, ...)_1yr_before']
--- 105 Voronezh
2 features selected for Voronezh with error margin of 6.23 % : ['Gasoline (1 liter)_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 106 Warsaw
7 features selected for Warsaw with error margin of 0.31 % : ['Taxi Start (Normal Tariff)_1yr_before', 'Banana (1kg)_1yr_before', 'Rice (white), (1kg)_1yr_before', 'Monthly Pass (Regular Price)_1yr_before', 'pollution_index_1yr_before', 'healthcare_index_1yr_before', 'co2_emission_index_1yr_before']
--- 107 Wroclaw
3 features selected for Wroclaw with error margin of 0.34 % : ['Water (1.5 liter bottle)_1yr_before', 'cpi_and_rent_index_1yr_before', 'Coke/Pepsi (0.33 liter bottle)_1yr_before']
--- 108 Zagreb
10 features selected for Zagreb with error margin of 0.42 % : ['Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment_1yr_before', 'Taxi Start (Normal Tariff)_1yr_before', 'Cinema, International Release, 1 Seat_1yr_before', 'McMeal at McDonalds (or Equivalent Combo Meal)_1yr_before', 'Fitness Club, Monthly Fee for 1 Adult_1yr_before', 'pollution_index_1yr_before', '1 Pair of Jeans (Levis 501 Or Similar)_1yr_before', 'traffic_index_1yr_before', 'inefficiency_index_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']
--- 109 Zurich
5 features selected for Zurich with error margin of 1.32 % : ['Average Monthly Net Salary (After Tax)_1yr_before', 'restaurant_price_index_1yr_before', 'Imported Beer (0.33 liter bottle)_1yr_before', 'house_price_to_income_ratio_1yr_before', 'price_to_rent_ratio_city_centre_1yr_before']

In [9]:
# Loading models

cities_list = cities_list # remove for full list
#cities_list.remove('Perm') # model not working
features_model_TOTAL = []
cities_TOTAL = []
num_feats = []
error_list = []
data_5 = data_4.copy()
total_predictions = pd.DataFrame()
target_var = 'Price per Square Meter to Buy Apartment in City Centre'
location = 'centre' # for pickle files

for city in cities_list:
    print('---',cities_list.index(city)+1,city)
    # City data
    data_city = data_5[data_5['city'] == city]
    data_city = data_city[(data_city['date']>='2011-01-01')]
    clean_target_var = target_var.replace(' ', '_').replace('(', '').replace(')', '')
    data_city = data_city.rename(columns={'date': 'ds'})
    
    # Target city data
    data_city_target = data_city[['ds',target_var]].reset_index(drop=True)
    data_city_target.columns = ['ds','y']
    
    # Features city data
    cols_to_remove = ['city','country','year','Price per Square Meter to Buy Apartment in City Centre',
                     'Price per Square Meter to Buy Apartment Outside of Centre']
    data_city_features = data_city.drop(columns=cols_to_remove)
    
    # Loading model from a pickle file
    model_filename = f'{location}_model_{city}.pkl'
    m_final = pickle.load(open(model_filename, 'rb'))
    features_model = list(m_final.extra_regressors.keys()) # getting features from saved model

    # Final city model and preditions for 2023
    feature_data_final = data_city_features[['ds'] + features_model]
    target_data_final = data_city_target[data_city_target['ds']<='2020-12-31']
    past_feature_data_final = feature_data_final[feature_data_final['ds']<='2020-12-31']
    future_feature_data_final = feature_data_final[feature_data_final['ds']>'2020-12-31']

    future_final = m_final.make_future_dataframe(periods=12, freq='Q')
    future_final = pd.merge(future_final, feature_data_final, on='ds')

    # Getting predictions for 2023
    forecast_final = m_final.predict(future_final)
    df_final = pd.merge(forecast_final[['ds','yhat','yhat_lower','yhat_upper']], data_city_target, on='ds')
    df_final['city'] = city
    df_final = df_final.rename(columns={'ds': 'date'})
    
    # Adding predictions to an overall dataframe
    total_predictions = pd.concat([total_predictions,df_final])
    
    for feat in features_model:
        features_model_TOTAL.append(feat) # adding best feature to list of variables for all cities models
        cities_TOTAL.append(city) # adding city to create dataframe for feats list
    
    # Creating dataframe with model's overall absolute variation
    df_temp = df_final[['date','yhat','y']].tail(8) # 2021 and 2022 (8 quarters)
    df_temp['abs_var'] = abs((df_temp['yhat']-df_temp['y'])/df_temp['y']) 
    overall_min = df_temp['abs_var'].sum()/8
    error_list.append(overall_min)
    num_feats.append(len(features_model))

    
# Saving overall dataframe
total_predictions.to_csv(f'{location}_total_predictions.csv', index=False)

# Location summary dataframe
location_summary = pd.DataFrame({'city':cities_list,'error_margin':error_list,'number_of_features':num_feats})
location_summary.to_csv(f'{location}_summary.csv', index=False)

# Features summary dataframe
features_summary = pd.DataFrame({'city':cities_TOTAL,'feature':features_model_TOTAL})
features_summary['feature'] = features_summary['feature'].str.replace('_1yr_before', '')
features_summary.to_csv(f'{location}_features_summary.csv', index=False)

--- 1 Aberdeen
--- 2 Amsterdam
--- 3 Athens
--- 4 Banja Luka
--- 5 Barcelona
--- 6 Belgrade
--- 7 Berlin
--- 8 Bialystok
--- 9 Bologna
--- 10 Bolzano-Bozen
--- 11 Brasov
--- 12 Bratislava
--- 13 Brno
--- 14 Brussels
--- 15 Bucharest
--- 16 Budapest
--- 17 Catania
--- 18 Chisinau
--- 19 Cluj-Napoca
--- 20 Constanta
--- 21 Copenhagen
--- 22 Coventry
--- 23 Debrecen
--- 24 Dnipro
--- 25 Dublin
--- 26 Eindhoven
--- 27 Espoo
--- 28 Florence
--- 29 Frankfurt
--- 30 Gdansk
--- 31 Gdynia
--- 32 Geneva
--- 33 Groningen
--- 34 Haarlem
--- 35 Helsinki
--- 36 Iasi
--- 37 Katowice
--- 38 Kaunas
--- 39 Kharkiv
--- 40 Kiev (Kyiv)
--- 41 Kosice
--- 42 Krakow (Cracow)
--- 43 Lisbon
--- 44 Liverpool
--- 45 Ljubljana
--- 46 Lodz
--- 47 London
--- 48 Luxembourg
--- 49 Lviv
--- 50 Lyon
--- 51 Madrid
--- 52 Manchester
--- 53 Milan
--- 54 Minsk
--- 55 Moscow
--- 56 Munich
--- 57 Nis
--- 58 Novi Sad
--- 59 Odessa (Odesa)
--- 60 Oradea
--- 61 Oslo
--- 62 Ostrava
--- 63 Paris
--- 64 Plovdiv
--- 65 Plzen
--- 66 Podgorica
--- 67 Porto
--- 68 Poznan
--- 69 Prague
--- 70 Pristina
--- 71 Reykjavik
--- 72 Riga
--- 73 Rijeka
--- 74 Rome
--- 75 Rotterdam
--- 76 Saint Petersburg
--- 77 Sarajevo
--- 78 Seville (Sevilla)
--- 79 Skopje
--- 80 Sofia
--- 81 Split
--- 82 Stockholm
--- 83 Stuttgart
--- 84 Szczecin
--- 85 Tallinn
--- 86 The Hague (Den Haag)
--- 87 Thessaloniki
--- 88 Timisoara
--- 89 Tirana
--- 90 Turin
--- 91 Tuzla
--- 92 Utrecht
--- 93 Varna
--- 94 Vienna
--- 95 Villach
--- 96 Vilnius
--- 97 Warsaw
--- 98 Wroclaw
--- 99 Zagreb
--- 100 Zurich

In [10]:
total_predictions

,date,yhat,yhat_lower,yhat_upper,y,city
0,2011-03-31,3752.213621,3526.496198,3972.761633,3676.020096,Aberdeen
1,2011-06-30,3752.549030,3523.675399,3956.180411,3676.020096,Aberdeen
2,2011-09-30,3752.716992,3531.903031,3969.330128,3676.020096,Aberdeen
3,2011-12-31,3752.554314,3511.761086,3968.155905,3676.020096,Aberdeen
4,2012-03-31,3758.582529,3522.819241,3984.160483,3676.020096,Aberdeen
...,...,...,...,...,...,...
47,2022-12-31,18731.797628,15726.737356,21793.864658,18743.129477,Zurich
48,2023-03-31,15057.913103,12300.142773,18192.308309,NaN,Zurich
49,2023-06-30,15135.730103,12057.673870,18303.352255,NaN,Zurich
50,2023-09-30,14180.902500,11057.632671,17089.474060,NaN,Zurich
51,2023-12-31,14176.073052,11129.553015,17391.766242,NaN,Zurich

In [11]:
#location_summary = pd.read_csv('centre_summary.csv')
location_summary

          city  error_margin  number_of_features
0     Aberdeen      0.000434                   2
1    Amsterdam      0.000277                   3
2       Athens      0.001117                   3
3   Banja Luka      0.001382                   3
4    Barcelona      0.002300                   3
..         ...           ...                 ...
95     Vilnius      0.006078                   5
96      Warsaw      0.001432                   7
97     Wroclaw      0.002505                   3
98      Zagreb      0.003390                  10
99      Zurich      0.001394                   5

[100 rows x 3 columns]

In [12]:
features_summary.head(10)

         city                                   feature
0    Aberdeen                             Oranges (1kg)
1    Aberdeen              Meal, Inexpensive Restaurant
2   Amsterdam          Domestic Beer (0.5 liter bottle)
3   Amsterdam  Apartment (3 bedrooms) Outside of Centre
4   Amsterdam          mortgage_as_percentage_of_income
5      Athens   Apartment (1 bedroom) Outside of Centre
6      Athens                                time_index
7      Athens        Taxi 1hour Waiting (Normal Tariff)
8  Banja Luka        Taxi 1hour Waiting (Normal Tariff)
9  Banja Luka          mortgage_as_percentage_of_income

In [13]:
data_tableau = pd.read_csv('data_for_tableau.csv')
data_tableau['date'] = pd.to_datetime(data_tableau['date'])
data_tableau

,city,date,country,year,1 Pair of Jeans (Levis 501 Or Similar),1 Pair of Men Leather Business Shoes,1 Pair of Nike Running Shoes (Mid-Range),"1 Summer Dress in a Chain Store (Zara, H&M, ...)",Apartment (1 bedroom) Outside of Centre,Apartment (1 bedroom) in City Centre,...,exp_pollution_index,traffic_time_index,quality_of_life_index,healthcare_index,climate_index,cpi_index,house_price_to_income_ratio,pollution_index,purchasing_power_incl_rent_index,safety_index
0,Aberdeen,2010-03-31,United Kingdom,2010Q1,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,50.103774,31.946650,132.925432,64.416185,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083
1,Aberdeen,2010-06-30,United Kingdom,2010Q2,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,50.103774,31.946650,132.925432,64.416185,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083
2,Aberdeen,2010-09-30,United Kingdom,2010Q3,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,50.103774,31.946650,132.925432,64.416185,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083
3,Aberdeen,2010-12-31,United Kingdom,2010Q4,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,50.103774,31.946650,132.925432,64.416185,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083
4,Aberdeen,2011-03-31,United Kingdom,2011Q1,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,50.103774,31.946650,132.925432,64.416185,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6099,Zurich,2022-12-31,Switzerland,2022Q4,94.265796,158.677770,106.578012,50.438374,1503.576144,1961.96247,...,28.889259,32.947826,200.891758,74.207377,81.481962,131.238266,7.936734,17.915810,129.792429,83.219057
6100,Zurich,2023-03-31,Switzerland,2023Q1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6101,Zurich,2023-06-30,Switzerland,2023Q2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6102,Zurich,2023-09-30,Switzerland,2023Q3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6103,Zurich,2023-12-31,Switzerland,2023Q4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Moscow and Saint Petersburg have abnormally high prices in 2012, Prague in 2011 and Brno in 2010 and 2011.
# Replacing with the average: 

for col in ['Price per Square Meter to Buy Apartment in City Centre','Price per Square Meter to Buy Apartment Outside of Centre']:
    for city in ['Moscow', 'Saint Petersburg']:
        average_2011_2013 = data_tableau[(data_tableau['city'] == city) & 
                                           ((data_tableau['date'].dt.year == 2011) | (data_tableau['date'].dt.year == 2013))][col]

        average_value = average_2011_2013.mean()

        data_tableau.loc[(data_tableau['city'] == city) & (data_tableau['date'].dt.year == 2012),
                           col] = average_value

    for city in ['Prague']:
        average_2010_2012 = data_tableau[(data_tableau['city'] == city) & 
                                           ((data_tableau['date'].dt.year == 2010) | (data_tableau['date'].dt.year == 2012))][col]

        average_value = average_2010_2012.mean()

        data_tableau.loc[(data_tableau['city'] == city) & (data_tableau['date'].dt.year == 2011),
                           col] = average_value
        
    for city in ['Brno']:
        average_2012 = data_tableau[(data_tableau['city'] == city) & (data_tableau['date'].dt.year == 2012)][col]

        average_value = average_2012.mean()

        data_tableau.loc[(data_tableau['city'] == city) & (data_tableau['date'].dt.year <= 2011),
                           col] = average_value

In [15]:
data_tableau['Price per Square Meter to Buy Apartment on Average'] = (
    data_tableau['Price per Square Meter to Buy Apartment in City Centre'] + 
    data_tableau['Price per Square Meter to Buy Apartment Outside of Centre']) / 2

In [16]:
data_tableau[['Price per Square Meter to Buy Apartment on Average',
              'Price per Square Meter to Buy Apartment in City Centre',
              'Price per Square Meter to Buy Apartment Outside of Centre']]

,Price per Square Meter to Buy Apartment on Average,Price per Square Meter to Buy Apartment in City Centre,Price per Square Meter to Buy Apartment Outside of Centre
0,2603.847568,3676.020096,1531.67504
1,2603.847568,3676.020096,1531.67504
2,2603.847568,3676.020096,1531.67504
3,2603.847568,3676.020096,1531.67504
4,2603.847568,3676.020096,1531.67504
...,...,...,...
6099,14880.856909,18743.129477,11018.58434
6100,NaN,NaN,NaN
6101,NaN,NaN,NaN
6102,NaN,NaN,NaN
6103,NaN,NaN,NaN

In [17]:
data_tableau_2 = pd.merge(data_tableau, total_predictions[['city','date','yhat']], on=['city','date'], how='left')
data_tableau_2 = data_tableau_2.rename(columns={'yhat': 'price_predictions_centre'})
data_tableau_2[['city','date','Price per Square Meter to Buy Apartment in City Centre','price_predictions_centre']]

,city,date,Price per Square Meter to Buy Apartment in City Centre,price_predictions_centre
0,Aberdeen,2010-03-31,3676.020096,NaN
1,Aberdeen,2010-06-30,3676.020096,NaN
2,Aberdeen,2010-09-30,3676.020096,NaN
3,Aberdeen,2010-12-31,3676.020096,NaN
4,Aberdeen,2011-03-31,3676.020096,3752.213621
...,...,...,...,...
6099,Zurich,2022-12-31,18743.129477,18731.797628
6100,Zurich,2023-03-31,NaN,15057.913103
6101,Zurich,2023-06-30,NaN,15135.730103
6102,Zurich,2023-09-30,NaN,14180.902500
6103,Zurich,2023-12-31,NaN,14176.073052

In [18]:
data_tableau_2['price_predictions_outside'] = (data_tableau_2['Price per Square Meter to Buy Apartment Outside of Centre']*
                                               data_tableau_2['price_predictions_centre']/
                                               data_tableau_2['Price per Square Meter to Buy Apartment in City Centre'])

data_tableau_2['price_predictions_average'] = (
    data_tableau_2['price_predictions_centre'] + 
    data_tableau_2['price_predictions_outside']) / 2

data_tableau_2

,city,date,country,year,1 Pair of Jeans (Levis 501 Or Similar),1 Pair of Men Leather Business Shoes,1 Pair of Nike Running Shoes (Mid-Range),"1 Summer Dress in a Chain Store (Zara, H&M, ...)",Apartment (1 bedroom) Outside of Centre,Apartment (1 bedroom) in City Centre,...,climate_index,cpi_index,house_price_to_income_ratio,pollution_index,purchasing_power_incl_rent_index,safety_index,Price per Square Meter to Buy Apartment on Average,price_predictions_centre,price_predictions_outside,price_predictions_average
0,Aberdeen,2010-03-31,United Kingdom,2010Q1,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
1,Aberdeen,2010-06-30,United Kingdom,2010Q2,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
2,Aberdeen,2010-09-30,United Kingdom,2010Q3,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
3,Aberdeen,2010-12-31,United Kingdom,2010Q4,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
4,Aberdeen,2011-03-31,United Kingdom,2011Q1,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,3752.213621,1563.422342,2657.817982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6099,Zurich,2022-12-31,Switzerland,2022Q4,94.265796,158.677770,106.578012,50.438374,1503.576144,1961.96247,...,81.481962,131.238266,7.936734,17.915810,129.792429,83.219057,14880.856909,18731.797628,11011.922649,14871.860138
6100,Zurich,2023-03-31,Switzerland,2023Q1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15057.913103,NaN,NaN
6101,Zurich,2023-06-30,Switzerland,2023Q2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15135.730103,NaN,NaN
6102,Zurich,2023-09-30,Switzerland,2023Q3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14180.902500,NaN,NaN
6103,Zurich,2023-12-31,Switzerland,2023Q4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14176.073052,NaN,NaN

In [19]:
data_tableau_2[data_tableau_2['city']=='Moscow'][['date','Price per Square Meter to Buy Apartment in City Centre']].head(16)

           date  Price per Square Meter to Buy Apartment in City Centre
3248 2010-03-31                                        5237.138658
3249 2010-06-30                                        5237.138658
3250 2010-09-30                                        5237.138658
3251 2010-12-31                                        5237.138658
3252 2011-03-31                                        7916.006225
3253 2011-06-30                                        7916.006225
3254 2011-09-30                                        7916.006225
3255 2011-12-31                                        7916.006225
3256 2012-03-31                                        6605.571983
3257 2012-06-30                                        6605.571983
3258 2012-09-30                                        6605.571983
3259 2012-12-31                                        6605.571983
3260 2013-03-31                                        5295.137740
3261 2013-06-30                                        5295.137740
3262 2013-09-30                                        5295.137740
3263 2013-12-31                                        5295.137740

In [22]:
for city in russian_cities:
    data_tableau_2 = data_tableau_2[data_tableau_2['city']!=city] # removing russian cities
data_tableau_2

,city,date,country,year,1 Pair of Jeans (Levis 501 Or Similar),1 Pair of Men Leather Business Shoes,1 Pair of Nike Running Shoes (Mid-Range),"1 Summer Dress in a Chain Store (Zara, H&M, ...)",Apartment (1 bedroom) Outside of Centre,Apartment (1 bedroom) in City Centre,...,climate_index,cpi_index,house_price_to_income_ratio,pollution_index,purchasing_power_incl_rent_index,safety_index,Price per Square Meter to Buy Apartment on Average,price_predictions_centre,price_predictions_outside,price_predictions_average
0,Aberdeen,2010-03-31,United Kingdom,2010Q1,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
1,Aberdeen,2010-06-30,United Kingdom,2010Q2,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
2,Aberdeen,2010-09-30,United Kingdom,2010Q3,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
3,Aberdeen,2010-12-31,United Kingdom,2010Q4,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,NaN,NaN,NaN
4,Aberdeen,2011-03-31,United Kingdom,2011Q1,81.689335,101.090553,91.900502,55.140301,694.359351,785.44296,...,74.169806,109.084082,5.902778,20.344828,119.202522,83.802083,2603.847568,3752.213621,1563.422342,2657.817982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6099,Zurich,2022-12-31,Switzerland,2022Q4,94.265796,158.677770,106.578012,50.438374,1503.576144,1961.96247,...,81.481962,131.238266,7.936734,17.915810,129.792429,83.219057,14880.856909,18731.797628,11011.922649,14871.860138
6100,Zurich,2023-03-31,Switzerland,2023Q1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15057.913103,NaN,NaN
6101,Zurich,2023-06-30,Switzerland,2023Q2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15135.730103,NaN,NaN
6102,Zurich,2023-09-30,Switzerland,2023Q3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14180.902500,NaN,NaN
6103,Zurich,2023-12-31,Switzerland,2023Q4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14176.073052,NaN,NaN

In [23]:
data_tableau_2.to_csv('data_tableau_2.csv', index=False)

In [31]:
location_summary['number_of_features'].sum()*70

30310

In [35]:
len(data_tableau_2['country'].drop_duplicates())

39